@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

/*main*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  outline: none;
  border: none;
}

body {
  background: #081b29;
  color: var(--white);
}

:root {
  --light_blue: #3BD8FF;
  --dark_blue: #081b29;
  --white: #ffffff;
}

.blurry-background {
  background-size: cover;
  background-position: center center;
  bottom: 0;
  filter: blur(60px);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -2;
  max-height: 100vh;
}

/*HEADER - navigations*/
.header {
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-family: 'Dancing Script';
  font-size: 30px;
  color: var(--light_blue);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  transition: .5s;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar li a:hover:not(.active) {
  color: var(--light_blue);
}

.active {
  background-color: var(--light_blue);
  border-radius: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--light_blue);
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: var(--white);
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*HOME page*/
.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  /*padding:length|initial|inherit; length=top & bottom; initial=left & right*/
}

.home .home-detail {
  max-width: 600px;
}

@media (max-width: 600px) and (orientation: portrait) {
  .home .home-detail {
    max-width: 350px;
  }
}

.home-detail h3 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
}

.home-detail h5 {
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-bottom: 0;
}

/*that is for the second "child" of h3 in home-detail - basically the second h3*/
.home-detail h3:nth-child(2) {
  font-size: 23px;
  color: var(--light_blue);
  font-weight: 800;
  margin-bottom: 30px;
}

.home-detail p {
  font-size: 16px;
  position: relative;
  margin: 20px 0 40px;
}

.home .btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 345px;
}

.image-logo {
  position: absolute;
  display: flex;
  height: 650px;
  right: 0;
  top: 4%;
  padding: 50px 10% 0;
}

@media (max-width: 1300px) {
  .image-logo {
    position: relative;
  }
}

/* Styles for smaller screens in portrait mode */
@media (max-width: 600px) and (orientation: portrait) {
  .image-logo {
    position: relative;
    height: 570px;
    padding: 50px 0% 0;
  }
}

#home-motivation {
  margin-top: 4%;
  padding-bottom: 4%;
}

.big-landing_page-text h1 {
  font-size: clamp(90px, 10vw, 200px);
  /*The clamp() CSS function clamps a middle value within a range of 
  values between a defined minimum bound and a maximum bound.*/
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  animation: 2s big_text ease-out;
}

@keyframes big_text {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 0.8;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.big-landing_page-text p {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.big-landing_page-text p:nth-child(2) {
  font-size: 50px;
  position: absolute;
  color: rgba(0, 255, 255, 0.3);
  top: 0%;
  transform: rotate(-30deg);
}

.big-landing_page-text p:nth-child(3) {
  font-size: 120px;
  position: absolute;
  color: rgba(0, 255, 255, 0.4);
  bottom: -25%;
  transform: rotate(30deg);
}

.big-landing_page-text p:nth-child(4) {
  font-size: 120px;
  position: absolute;
  color: rgba(0, 255, 255, 0.7);
  top: -5%;
  right: 10%;
  transform: rotate(-30deg);
}

.big-landing_page-text p:nth-child(5) {
  font-size: 70px;
  position: absolute;
  color: rgba(0, 255, 255, 0.2);
  bottom: -15%;
  right: 10%;
  transform: rotate(30deg);
}

/*Spining animation - https://stackoverflow.com/questions/14859322/css3-spin-animation*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.landing_page_buttons {
  margin-top: 7%;
  justify-content: center;
}

.landing_page_list li {
  margin: 30px 20px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: var(--dark_blue);
  background: var(--light_blue);
  border: 2px solid var(--light_blue);
  height: 100%;
  width: 150px;
  text-decoration: none;
  border-radius: 8px;
  z-index: 1;
  font-weight: 600;
  letter-spacing: 1;
}

.btn-box a:hover {
  color: var(--light_blue);
  background: var(--dark_blue);
  transition: 0.5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--light_blue);
}

.btn-box a:nth-child(2):hover {
  color: var(--dark_blue);
  background: var(--light_blue);
}

@media (max-width: 600px) and (orientation: portrait) {
  .row {
    max-width: 350px;
  }
}

.home-quote {
  font-size: clamp(10px, 5vw, 57px);
  letter-spacing: 2px;
  position: relative;
  text-align: center;
}

.hz_logo {
  width: 150px;
  position: absolute;
  right: 10%;
  bottom: 55%;
}

/*CAROUSEL GALLERY*/
.family-photos-wrapper {
  height: 70vh;
  width: 80vw;
}

.family-photos {
  overflow-y: hidden; /*in mobile view*/
  display: flex;
}

.family-photos img {
  display: block;
  width: 100%;
}

.family-photos_img {
  margin-bottom: 10px;
  min-width: 100vw;
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .family-photos {
    display: block;
    overflow-y: scroll;
  }

  .family-photos_img {
    min-width: auto;
    min-height: 100vh;
  }
}

/*PORTFOLIO*/
.arts {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  bottom: 50px;
}

.carousel-gallery:hover {
  background: var(--dark_blue);
}

.carousel-gallery {
  margin: 10px;
  transition: 1s ease;
}

.carousel-gallery img {
  width: 100%;
  height: auto;
}

/**/
.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  float: left;
  width: 33.33%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 90%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*PORTFOLIO*/
.projects {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8% 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: content;
  /*calc(33% - 30px)*/
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.link {
  display: block;
  padding: 30px 20px;
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.link:hover,
.link:hover .project_detail {
  text-decoration: none;
  color: var(--white);
}

.link:hover .edge {
  transform: scale(10);
  transition-duration: 1s;
}

h4 {
  min-height: 90px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: var(--dark_blue);
  z-index: 2;
  position: relative;
}

.smaller_text {
  font-size: 18px;
  color: var(--dark_blue);
  z-index: 2;
  position: relative;
}

.project_detail {
  font-weight: bold;
  color: var(--light_blue);
  transition: color .5s ease;
}

.edge {
  height: 128px;
  width: 128px;
  background-color: var(--light_blue);
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all 1s ease;
}

@media only screen and (max-width: 979px) {
  h4 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .protfolio-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .card {
    flex-basis: 100%;
  }

  h4 {
    min-height: 72px;
    font-size: 24px;
  }

  .link {
    padding: 22px 40px;
  }

  .smaller_text {
    font-size: 16px;
  }
}

/*SKILLS*/
.row h3 {
  font-size: 23px;
  color: var(--light_blue);
  font-weight: 800;
  margin-bottom: 30px;
}

.home-detail p {
  font-size: 16px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

.home-skills {
  justify-content: space-between;
  align-items: center;
  padding: 30px 9.5% 0;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}


@media (max-width: 600px) and (orientation: portrait) {
  .row {
    max-width: 350px;
  }
}

.skill {
  box-sizing: border-box;
  border: 1px solid var(--light_blue);
  border-radius: 5px;
  bottom: 10px;
  width: 90%;
}

.skill_level {
  height: 10px;
  background: var(--light_blue);
  animation: color_change 3s;
  animation-iteration-count: 1;
  border-radius: 5px;
}

@keyframes color_change {
  from {
    width: 0px;
  }

  to {
    background: var(--light_blue);
  }
}

/*PORTOFLIO INSIDE SPECIFICS*/
.magazines-specific {
  text-decoration: none;
  color: var(--white);
}

.shape-magazines {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px var(--white),
    inset 20px 0 80px var(--light_blue),
    inset -20px 0 80px var(--light_blue),
    inset 20px 0 300px var(--light_blue),
    inset -20px 0 300px var(--light_blue),
    0 0 50px var(--white),
    -10px 0 80px var(--light_blue),
    10px 0 80px var(--light_blue);
}

.shape-magazines p {
  text-align: center;
  padding-top: 34px;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Dancing Script';
}

/*FAQ*/
/*https://dev.to/felixdusengimana/lets-create-an-faq-section-with-html-and-css-only-detail-tag-explained-12gf*/
details {
  color: var(--white);
  margin-bottom: 20px;
}

summary {
  font-weight: bold;
  padding: 1em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--white);
}

summary:after {
  content: "\002B";
}

details ol{
  margin-left: 5%;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: .5em 1em;
  color: var(--white);
}

details div a{
  text-decoration: none;
  color: var(--light_blue);
}

.image-faq {
  position: absolute;
  display: flex;
  height: 650px;
  right: 0;
  top: 13%;
  padding: 50px 10% 0;
  filter: drop-shadow(20px 20px 10px var(--dark_blue));
}

@media (max-width: 1300px) {
  .image-faq {
    position: relative;
    height: 550px;
  }
}

/*DASHBOARD*/
.dash_table {
  border-collapse: collapse;
  margin: 25px 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 579px;
}

.dash_table thead tr {
  background-color: var(--light_blue);
  color: var(--white);
}

.dash_table th,
.dash_table td {
  padding: 12px 12px;
}

.dash_table tbody tr {
  border-bottom: 0.1px solid var(--white);
}

.dash_table tbody tr:last-of-type {
  border-bottom: 4px solid var(--light_blue);
}

@media (max-width: 700px) and (orientation: portrait) {
  .dash_table {
    font-size: 10px;
    width: 70vw;
  }
}

.head-row {
  font-weight: bold;
  color: var(--light_blue);
  background-color: var(--white);
}

.table-extra-subjects {
  position: absolute;
  z-index: 1;
  top: 17%;
  right: 0;
}

.dash_table-right {
  width: 70px;
}

@media (max-width: 1400px) {
  .table-extra-subjects {
    position: relative;
  }

  .dash_table-right {
    width: 50px;
  }
}

.progress-container{
  width: 100%;
  height: 1.5em;
  position: relative;
  background-color: var(--white);
}

.progressbar{
  background-color: var(--light_blue);
  height: 100%;
  position: absolute;
  line-height: inherit

}
.progress-bar-round{
  border-radius:16px;
}

#NBSA{
  margin-left: 55%;
}

.submit-button{
}

/*BLOG*/
.blog_post {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: top;
  padding: 20px 8% 0;
  display: flex;
  flex-wrap: wrap;
}

.article_card {
  background: var(--light_blue);
  max-width: 400px;
  padding: 2rem 2rem 2rem 2rem;
  flex-basis: content;
  margin: 0 0px 15px;
  overflow: hidden;
  border-radius: 28px;
}

.article_card h3 {
  color: var(--dark_blue);
}

.blogcard_description {
  margin: 0 0 3rem 0;
  max-height: 150px;
  color: var(--dark_blue);
}

.blogcard_date {
  font-size: 13px;
  padding-bottom: 20px;
}

.btn_blog {
  align-items: center;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #10334C, var(--dark_blue));
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.btn_blog:hover {
  color: var(--light_blue);
  background: var(--white);
}

/*FOOTER*/
.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.social-media {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  left: 10%;
  align-items: center;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--light_blue);
  border-radius: 50%;
  background: transparent;
  text-decoration: none;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  color: var(--light_blue);
  transition: .5s;
  position: relative;
}

.social-media a:hover {
  color: var(--dark_blue);
  background: var(--light_blue);
}