.blog_post {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: top;
    padding: 20px 8% 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .article_card {
    background: var(--light_blue);
    max-width: 400px;
    padding: 2rem 2rem 2rem 2rem;
    flex-basis: content;
    margin: 0 0px 15px;
    overflow: hidden;
    border-radius: 28px;
  }
  
  .article_card h3 {
    color: var(--dark_blue);
  }
  
  .blogcard_description {
    margin: 0 0 3rem 0;
    max-height: 150px;
    color: var(--dark_blue);
  }
  
  .blogcard_date {
    font-size: 13px;
    padding-bottom: 20px;
  }
  
  .btn_blog {
    align-items: center;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #10334C, var(--dark_blue));
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: var(--white);
    text-decoration: none;
    transition: all 0.2s ease-in;
  }
  
  .btn_blog:hover {
    color: var(--light_blue);
    background: var(--white);
  }
  
  .swot-analysis {
    position: relative;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--dark_blue);
  }
  
  .swot-analysis-card {
    max-width: 350px;
    flex-basis: content;
    margin: 0 0px 40px;
    overflow: hidden;
    border-radius: 28px;
    background-color: var(--dark_blue);
    padding: 30px;
    color: var(--white);
    box-shadow: 2px 2px 15px var(--dark_blue);
  }
  
  .swot-strength {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/sport-photo-kid.jpg);
    background-size: 100% auto;
  }
  
  .swot-opportunity {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/university-photo.jpg);
    background-size: 100% auto;
  }
  
  .swot-weakness {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/meditating.jpg);
    background-size: auto 100%;
  }
  
  .swot-threat {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/company-description.png);
    background-size: 100% auto;
  }
  
  .blog-profession-companies {
    position: relative;
    bottom: 50px;
    color: var(--dark_blue);
    background-color: var(--light_blue);
    border-radius: 15px;
    padding: 20px 8% 50px;
    margin-bottom: 40px;
    opacity: 0.9;
  }
  
  .blog-profession-companies::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 4px solid var(--white);
    border-radius: 15px;
    transform: rotate(2deg);
    z-index: 3;
  }
  
  #blog-articles {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
  }
  
  .blog-reference {
    font-weight: bold;
    color: var(--dark_blue);
    z-index: 6;
  }
  
  .blog-reference a {
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    color: var(--dark_blue);
  }
  
  .blog-photo img {
    float: right;
    position: relative;
    width: 59%;
    height: auto;
    left: 30px;
    margin-right: 3%;
    margin-top: 70px;
    box-shadow: 2px 2px 25px var(--dark_blue);
    filter: sepia(100%) hue-rotate(165deg) saturate(150%) contrast(100%);
  }
  
  .company-properties {
    position: relative;
    margin-top: 40px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--dark_blue);
  }
  
  .company-properties-element {
    max-width: 235px;
    flex-basis: content;
    margin: 0 0px 15px;
    overflow: hidden;
    border-radius: 28px;
    background-color: var(--dark_blue);
    padding: 30px;
    color: var(--white);
    box-shadow: 2px 2px 15px var(--dark_blue);
  }
  
  .company-element-title {
    color: var(--white);
    text-transform: uppercase;
    text-align: right;
  }
  
  .company-element-icon {
    color: var(--white);
    font-size: 70px;
    position: absolute;
    text-align: left;
  }
  
  @media (max-width: 700px) and (orientation: portrait) {
    .blog-photo img {
      left: 3%;
      margin-top: 10%;
      bottom: 20px;
      width: 65vw;
      height: auto;
    }
  
    .company-properties {
      flex-direction: column;
    }
  
    .company-properties-element {
      max-width: 300px;
    }
  
    .blog-profession-companies::before {
      transform: rotate(1deg);
      top: -10px;
    }
  }
  
  .company-goals {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/company-goal.jpg);
    background-size: auto 100%;
  }
  
  .company-tech {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/company-tech.jpg);
    background-size: auto 100%;
  }
  
  .company-staff {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/company-staff.jpg);
    background-size: auto 100%;
  }
  
  .company-description {
    background-image: linear-gradient(to bottom, rgba(47, 167, 197, 0.6), rgba(8, 27, 41, 1)), url(../photos/company-description.png);
    background-size: auto 100%;
  }
  
  #blog-article-study-journey{
    top: 15%;
  }
  
  video{
    width: 375px;
  }
  
  @media (max-width: 700px) and (orientation: portrait) {
  
    .company-goals,
    .company-tech,
    .company-staff,
    .company-description {
      background-size: 100% auto;
    }
  
    .swot-goals,
    .swot-tech,
    .swot-staff,
    .swot-description {
      background-size: 100% auto;
    }
  
    #blog-article-study-journey{
      top: 30px;
    }
  }
  
  .blog-article-photo {
    position: absolute;
    top: 6%;
    right: 10%;
    float: right;
  }
  
  .blog-article-photo img {
    margin-bottom: 30px
  }
  
  @media (max-width: 1300px) {
    .blog-article-photo {
      position: relative;
      left: 7%;
    }
  }